/* Default styles - small devices (Mobile, screen width < 768px) */

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--greyDark)
}

h1, h2 {
    color: var(--navy);
    font-weight: 600;
}
.dark-text {
    color: var(--greyDark);
}

a {
    color: var(--blue);
}
.bg-gl {
    background-color: var(--greyLight);
}
.bg-white {
    background-color: #ffffff;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo-top img {
    width: 115px;
}
.contact-header {
    font-size: 1rem;
}
.contact-header, .contact-header i {
    color: var(--navy);
}

.contact-header i {
    color: var(--blue);
    font-size: 1.625rem;
}

/* Collapse Button Mobile */
.animated-icon {
    cursor: pointer;
    height: 20px;
    margin: 0px;
    position: relative;
    width: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

    .animated-icon span {
        border-radius: 9px;
        display: block;
        height: 3px;
        position: absolute;
        left: 0;
        opacity: 1;
        width: 100%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .animated-icon span {
        background: var(--blue);
    }

        .animated-icon span:nth-child(1) {
            top: 0px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        .animated-icon span:nth-child(2) {
            top: 10px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        .animated-icon span:nth-child(3) {
            top: 20px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

    .animated-icon.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
    }

    .animated-icon.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .animated-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
    }


/*--------------------------------------------------------------
# Main Navigation
--------------------------------------------------------------*/
#main-nav {
    background-color: var(--blue);
}

#main-nav .container {
    padding-left: 0;
    padding-right: 0;
}

#main-nav .nav-link {
    color: rgba(255, 255, 255, 0.70);
    font-size: 1.25rem;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

#main-nav .nav-link.active {
    background-color: var(--navy);
    color: #ffffff;
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
.hero img {
    height: 420px;
    object-fit: cover;
}

/*--------------------------------------------------------------
# Landing Cards
--------------------------------------------------------------*/
.landing-cards .card, .landing-cards .card-border, .landing-cards .card img {
    border-radius: 20px;
}

.landing-cards .card {
    border: 2px solid #ffffff;
    overflow: hidden;
}

.landing-cards .card-border {
    border: 8px solid var(--grey);
    /* opacity: .8; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.landing-cards .card img {
    height: 300px;
    object-fit: cover;
    /* object-position: right; */

}

.landing-cards .card-img-overlay {
    top: unset;
    bottom: 20px;
    right: 35px;
    background-color: var(--grey90);
    min-height: 88px;
}

.landing-cards .card-img-overlay h2 {
    color: #ffffff;
    font-size: 1.375rem;
    font-weight: 600;
}

.landing-cards .card:hover .card-border {
    background-color: #21252966;
    /* opacity: .6; */
}


/* Icon buttons  */
.icon-buttons .btn {
    background-color: var(--blue);
    color: #ffffff;
    border: none;
    /* width: fit-content; */
    border: 3px solid var(--blue);
}
.icon-buttons a {
    font-size: 1.75rem;
    font-weight: 600;
}
.icon-buttons i {
    font-size: 2rem;
}

.icon-buttons .btn:hover {
    background-color: #ffffff;
    color: var(--blue);
}

/*--------------------------------------------------------------
# Special Offer
--------------------------------------------------------------*/
.right-col {
    border-radius: 20px;
}
.special-offer {
    background-color: var(--blue);
    border-radius: 20px;
    border: 8px solid var(--greyLight);
}

.special-offer .bi-star-fill {
    color: var(--blueLight);
    font-size: 4rem;
}
.special-offer h2 {
    color: var(--blueLight);
    font-size: 2.5rem;
}
.special-offer p,  .special-offer a {
    color: #ffffff;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    background-color: var(--greyFooter);
    color: #ffffff;
    font-weight: 600;
}
.social i {
    font-size: 4rem;

    transition: all 0.3s;
}
.social i:hover {
    color: #ffffff;
}
.logo-bottom {
    background-color: #ffffff;
    border-radius: 20px;

}
.logo-bottom img {
    width: 150px;
}

.sub {
    color: var(--greyDark);
    font-size: .875rem;
    font-weight: 400;
}